{% extends 'base.html' %}

{% block title %}login{% endblock title %}

{% block body %}
<h1 class="text-center"> LOgin page </h1>
<div class="container" >
<form method="post" action=/login>
{% csrf_token %}
  <div class="form-group">
    <label for="Name">Username</label>
    <input type="text" class="form-control" id="name" name="usernameName" placeholder="Enter your usernName">
  </div>

 <div class="form-group">
    <label for="phone number">Password</label>
    <input type="Password" class="form-control" id="number" name="loginPassword" placeholder="Enter your Password">

  
  
  <button class="btn btn-primary" type="submit">LOgin</button>
  <div class="mt-4">
					<div class="d-flex justify-content-center links">
						do not have a account? <a href="/register" class="ml-2">Register</a>
					</div>

</form> 
</div>
{% endblock body %}
